.app-container {
  display: flex;
}

.dashboard-wrapper {
  margin-left: 220px; /* match sidebar width */
  padding: 40px 60px;
  width: calc(100% - 220px);
}
.app-container {
  display: flex;
}

.dashboard-wrapper {
  margin-left: 220px; /* match sidebar width */
  padding: 40px 60px;
  width: calc(100% - 220px);
}
